<nav class="navbar navbar-expand-lg navbar-light bg-primary p-3">
    <a class="navbar-brand fw-bold" href="#">Restaurant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal"
                data-target="#exampleModal1">Add Restaurant</button>
            <button class="btn btn-danger my-2 my-sm-0 ml-2" type="button" routerLink="/login">Log Out</button>
        </form>
    </div>
</nav>

<div class="frontPage p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Restaurant Records</h1>
        <p class="col-md-8 fs-4">You can save the records here</p>
        <a class="btn btn-primary btn-lg" href="https://unsplash.com/s/photos/restaurant" target="_blank"
            type="button">Look for Images</a>
    </div>
</div>


<!-- Table shown here -->
<div style="height: 100%; overflow-y: scroll;">
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Restaurant ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">Special Food</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of allRestaurantData">
                <td>{{data.id}}</td>
                <td><a class="restoName" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                        aria-controls="offcanvasBottom">{{data.name}}</a></td>
                <td>{{data.email_id}}</td>
                <td>{{data.phone_number}}</td>
                <td>{{data.address}}</td>
                <td>{{data.cuisine_type}}</td>
                <td>
                    <button class="btn btn-info" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal2" (click)="editData(data)">Edit</button>&nbsp;
                    <button (click)="  deleteRestaurant(data.id)" class="btn action btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal (add) -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Restaurant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="form-group">
                        <label for="exampleInput">Restaurant ID</label>
                        <input type="number" formControlName="id" class="form-control" id="exampleInput"
                            placeholder="Restaurant Id">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="exampleInput"
                            placeholder="Restaurant Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" formControlName="email_id" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Restaurant mail">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Mobile</label>
                        <input type="number" formControlName="phone_number" class="form-control" id="exampleInput"
                            placeholder="Restaurant mobile">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Address</label>
                        <textarea class="form-control" formControlName="address" id="exampleFormControlTextarea1"
                            rows="3" placeholder="Restaurant address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Special Food</label>
                        <input type="text" formControlName="cuisine_type" class="form-control" id="exampleInput">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addRestaurant()">Add Details</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal (edit) -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Restaurant Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="form-group">
                        <label for="exampleInput">Restaurant ID</label>
                        <input type="number" formControlName="id" class="form-control" id="exampleInput"
                            placeholder="Restaurant Id">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="exampleInput"
                            placeholder="Restaurant Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" formControlName="email_id" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Restaurant mail">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Mobile</label>
                        <input type="number" formControlName="phone_number" class="form-control" id="exampleInput"
                            placeholder="Restaurant mobile">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Address</label>
                        <textarea class="form-control" formControlName="address" id="exampleFormControlTextarea1"
                            rows="3" placeholder="Restaurant address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Special Food</label>
                        <input type="text" formControlName="cuisine_type" class="form-control" id="exampleInput">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateRestaurant()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Restaurant Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <div class="container-fluid">
            <img src="/assets/BackResto.png" class="img-fluid" alt="">
        </div>
        <div class="container-fluid mt-5">
            <h3>Menu</h3>
            <div class="row">
                <div class="col-4">
                    <input class="form-control mr-sm-2" type="text" autocomplete="off" placeholder="Search"
                        aria-label="Search">
                </div>
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example" aria-placeholder="Categories:">
                        <option selected disabled>Categories: All</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-4">
                    <input class="form-control mr-sm-2" type="text" autocomplete="off" placeholder="Sort">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container mt-3">
                <div class="row">
                    <div class="col">
                        <h3>Appetizers</h3>
                    </div>
                    <div class="col mt-2">
                        <button class="float-right" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container collapse" id="collapseExample">
                <div class="row">
                    <div class="col-md-4 d-flex" *ngFor="let item of appetizerItems">
                        <div class="card m-auto" style="width: 18rem;">
                            <img src="{{item.image}}" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="card-text">{{item.description}}
                                </p>
                                <h4 style="color: blue;">Rs. {{item.price}}</h4>
                                <button class="btn btn-primary" (click)="increment()" (click)="addItem(item.price)">+</button>
                                <button class="btn btn-primary ml-4" (click)="decrement()" (click)="removeItem(item.price)">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col">
                            <h3>Soups</h3>
                        </div>
                        <div class="col mt-2">
                            <button class="float-right" data-toggle="collapse" href="#collapseExample1" role="button"
                                aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container collapse" id="collapseExample1">
                    <div class="row">
                        <div class="col d-flex" *ngFor="let item1 of soupItems">
                            <div class="card m-auto" style="width: 18rem;">
                                <img src="{{item1.image}}" class="card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{item1.name}}</h5>
                                    <p class="card-text">{{item1.description}}</p>
                                    <h4 style="color: blue;">Rs. {{item1.price}}</h4>
                                    <button class="btn btn-primary" (click)="increment()" (click)="addItem(item1.price)">+</button>
                                    <button class="btn btn-primary ml-4" (click)="decrement()" (click)="removeItem(item1.price)">-</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col">
                            <h3>Salads</h3>
                        </div>
                        <div class="col mt-2">
                            <button class="float-right" data-toggle="collapse" href="#collapseExample2" role="button"
                                aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container collapse" id="collapseExample2">
                    <div class="row">
                        <div class="col d-flex" *ngFor="let item2 of saladItems">
                            <div class="card m-auto" style="width: 18rem;">
                                <img src="{{item2.image}}" class="card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{item2.name}}</h5>
                                    <p class="card-text">{{item2.description}}</p>
                                    <h4 style="color: blue;">Rs. {{item2.price}}</h4>
                                    <button class="btn btn-primary" (click)="increment()" (click)="addItem(item2.price)">+</button>
                                    <h4> {{ counter }} </h4>
                                    <button class="btn btn-primary ml-4" (click)="decrement()" (click)="removeItem(item2.price)">-</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Total Orders: {{counter}}</h4>
                    </div>
                    <div class="col">
                        <h4 class="float-right">Total Price: {{ totalAmount}}</h4>
                    </div>
                </div>
            </div>
        </div>



        <h1 class="fw-bold mt-5 text-center">REGISTER</h1>
        <div class="container mt-5">
            <form>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Name:</h3>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" size="40">
                                <label for="text">First Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" size="40">
                                <label for="text">Last Name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-4">
                            <h3>Email:</h3>
                        </div>
                        <div class="col-8">
                            <input type="text" size="50" class="form-control">
                            <label for="text">example@example.com</label>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-4">
                            <h3>Phone Number:</h3>
                        </div>
                        <div class="col-8">
                            <input type="text" size="50" class="form-control" placeholder="(000)-000-000">
                            <label for="text">Please enter a valid number</label>
                        </div>
                    </div>
                </div>
                <h3 class="ml-2 mt-4">Do you want to pick up your order?</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Yes
                                </label>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    No, I request for a delivery.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="ml-2 mt-4">Date and time for pickup</h3>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-6">
                            <input type="date" class="form-control">
                            <label for="date">Date</label>
                        </div>
                        <div class="col-2">
                            <input type="time" class="form-control">
                            <label for="time">Time</label>
                        </div>
                        <div class="col-2">
                            <select id="exampleFormControlSelect1" class="form-control">
                                <option selected>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h3 class="ml-2 mt-4">Delivery Address</h3>
                <div class="container mt-4">
                    <input type="text" class="form-control">
                    <label for="text">Street Lane</label>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control">
                            <label for="text">City</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control">
                            <label for="text">Province</label>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>